$bg1: #80D4F9
$bg2: #D99BF9
$bg3: #FF1344
$bg4: #007CDC
$bgFooter: #343735

@mixin transform($x, $y)
	transform: translate(0, -50%)
	-webkit-transform: translate(0, -50%)
	-moz-transform: translate(0, -50%)
	-o-transform: translate(0, -50%)

@mixin border-radius($rad)
	border-radius: $rad !important
	-webkit-border-radius: $rad !important
	-moz-border-radius: $rad !important
	-o-border-radius: $rad !important

body
	background-color: #f5f5f5

.container-mobile
	background-color: white
	max-width: 480px
	width: 100%
	margin: 0 auto

.navbar-default
	.navbar-brand
		height: auto
		padding: 15px 0 0 10px !important

		img
			margin: 0 !important

	.navbar-nav
		margin: 13px 0

	.navbar-form
		border: 0px !important
		overflow: hidden
		margin: 5px 0 0 !important
		padding: 0 !important
		width: 100%

		.input-group
			display: block

	.btn-header,
	.btn-header:hover
		background-color: #ea8e26 !important
		border-radius: 5px
		color: white !important
		padding-left: 25px
		padding-right: 25px
		margin-left: 5px !important
		height: 50px

	.btn-header-border,
	.btn-header-border:hover
		background-color: transparent !important
		border: 1px solid #ea8e26
		color: #ea8e26 !important

.paper-block

	.thumbnail-project

		img
		  left: 0 !important
		  top: 0 !important
		  transform: translateY(0) !important
		  height: 100% !important
		  width: 100% !important

div#search-form
	input[type=text].form-control
		@include border-radius(5px)

	button[type=submit].btn
		top: 0

section.new-artist
	background: transparent
	padding: 0

.ui-datepicker
	.ui-datepicker-title
		color: #333
		font-size: 14px

.owl-item,
.owl-wrapper,
.owl-wrapper-outer
	height: 300px  !important

.modal-box
	display: none
	height: 100%
	position: relative
	width: 100%
	left: 0
	top: 0
	z-index: 9999

	&-bg
		background: rgba(0,0,0,0.8)
		cursor: pointer
		height: 100%
		position: fixed
		width: 100%
		left: 0
		top: 0

	&-section
		background: #fff
		padding: 20px
		position: fixed
		height: 80%
		width: 80%
		left: 10%
		top: 50%
		min-height: 500px
		overflow-y: auto
		@include transform(-50%,-50%)

		&-close
			cursor: pointer
			position: absolute
			right: 20px
			top: 20px
			z-index: 100

			&:hover
				color: #666

		&-content

			img
				width: 100%

			h4,
			p
				margin: 5px 0


section.new-artist
	height: 300px

.slider-box
	height: 100%

	&-item
		height: 300px
		position: relative

		&-bg
			background-size: cover !important
			-webkit-background-size: cover !important
			-moz-background-size: cover !important
			-o-background-size: cover !important
			height: 100%
			position: absolute
			width: 100%

		&-content
			padding: 40px 50px 20px
			position: absolute
			left: 0
			top: 50%
			@include transform(0, -50%)
			text-align: center
			width: 100%

			&--right
				text-align: right

			h2,
			p
				margin: 0
				padding: 0

			p
				font-size: 18px
				margin: 10px 0 0 0


@media screen and (max-width: 992px)
	.owl-item,
	.owl-wrapper,
	.owl-wrapper-outer
		height: 150px  !important
		
	section.new-artist
		height: 150px

	.slider-box

		&-item
			height: 150px

.what-doing-box
	background: $bg1
	padding: 40px 10px
	text-align: center

	h2,
	p
		color: white
		margin: 0
		padding: 0

.border-bg
	background-size: 100% auto !important
	-webkit-background-size: 100% auto !important
	-moz-background-size: 100% auto !important
	-o-background-size: 100% auto !important
	height: 65px
	margin: -1px 0 0 0
	width: 100%

.border-bg.bottom-cyan
	background: url('../images/border-bottom-cyan.png') left top no-repeat

.border-bg.top-purple
	background: url('../images/border-top-purple.png') left bottom no-repeat

.border-bg.bottom-purple
	background: url('../images/border-bottom-purple.png') left top no-repeat

.border-bg.bottom-red
	background: url('../images/border-bottom-red.png') left top no-repeat

.border-bg.top-blue
	background: url('../images/border-top-blue.png') left bottom no-repeat

.border-bg.bottom-blue
	background: url('../images/border-bottom-blue.png') left top no-repeat

.section-box
	background: #fff
	padding: 50px 10px 100px

	p
		font-size: 16px

.process-box
	background: white
	text-align: center
	padding: 200px 0

	&-item
		margin: 0 auto
		max-width: 300px

		p
			text-align: center

.register-form-box
	background: $bg2
	text-align: center
	padding: 50px 10px 100px

	h2
		color: white

	form
		padding: 80px 0

		& > div
			& > div
				padding: 0 5px

				.input-group,
				input,
				button
					border: 0
					@include border-radius(5px)
					margin-bottom: 10px
					transition: all 0.2s ease-in-out
					width: 100%

				input:focus,
				input:hover
					border: 0
					box-shadow: 0 0 0 rgba(0,0,0,0)
					outline: 0

				button
					background: #841D8F
					border: 0
					padding: 7px 10px

					&:hover
						background: #841D8F
						opacity: 0.8

	p
		color: white
		text-align: center
		max-width: 800px
		margin: 0 auto

.project-progress-box
	background: white
	padding: 50px 0

	&-title
		border-bottom: 1px solid #EEEEEE
		position: relative
		padding: 0 0 20px

		&-icon
			background: url('../images/icon-title.png') white no-repeat
			bottom: -20px
			height: 20px
			position: absolute
			left: 49%
			@include transform(-50%,0)
			width: 20px

		p
			font-size: 14px
			margin: 10px 0 20px 0

	.project-box
		padding: 30px 0

		&-item
			height: 280px
			margin: 0 0 15px 0
			padding: 0 8px

			&-content
				background: $bgFooter
				position: relative
				overflow: hidden

				img
					height: 100%
					transition: all 0.5s ease-in-out
					opacity: 0.5
					width: 100%

					&:hover
						transform: scale(1.1)
						opacity: 1

				p
					background: #FF0031
					bottom: 0
					color: white
					font-weight: bold
					margin: 0
					padding: 5px 10px
					position: absolute
					width: 100%

.testimonial-box
	padding: 80px 0 60px

	&-item
		max-width: 800px
		margin: 0 auto 30px

		&-image
			background-size: cover
			border-radius: 50%
			height: 170px
			overflow: hidden
			margin: 0 auto 15px
			width: 170px

		p
			font-size: 18px
			margin: 0 0 15px
			padding: 0

footer
	background: #F5F6F8
	color: #373737

	.row.footer-overlap
		background: transparent
		box-shadow: 0 0 0 0 rgba(0,0,0,0)
		margin: 0
		padding: 0

	a
		color: #373737
		font-family: Source Sans Pro, 'Helvetica Neue', Helvetica, Arial, sans-serif
		font-size: 16px
		line-height: 20px
		letter-spacing: 0.03em

	p
		font-size: 14px

	.ul-footer

		&.quick-links
			max-width: 200px

			li
				border-bottom: none

				i
					font-size: 12px
					margin: 7px 0 0 0

				a
					margin: 0

		li
			display: block
			overflow: hidden

			i
				color: #DDBC00
				float: left
				font-size: 18px
				margin: 0 10px 0 0

			span
				color: #373737
				font-family: Source Sans Pro, 'Helvetica Neue', Helvetica, Arial, sans-serif
				float: left
				margin: 15px 0 0 0px
				font-size: 16px
				line-height: 20px
				letter-spacing: 0.03em

				& + span
					clear: both
					display: block
					margin: 15px 0 0 0px

.about-box
	background: $bg3
	padding: 40px 10px
	text-align: center

	h2,
	p
		color: white
		margin: 0
		padding: 0

.team-box
	background: $bg4
	padding: 40px 10px
	text-align: center

	h2,
	p
		color: white
		margin: 0
		padding: 0

.teams-list-box

	.row > div
		border-right: 1px solid #ccc

		&:last-child
			border-right: 0

	&-item
		cursor: pointer
		padding: 0 10px

		&-title
			background: #89BEFF
			color: #FFF
			text-align: center
			padding: 5px

		&-image
			background: $bg4
			height: auto
			position: relative
			overflow: hidden

			img
				height: 100%
				transition: all 0.5s ease-in-out
				opacity: 0.5
				width: 100%

				&:hover
					transform: scale(1.1)
					opacity: 1

		&-subtitle
			font-weight: bold
			padding: 10px 0

@media screen and (max-width: 992px)
	.project-progress-box

		.project-box-item
			height: auto

article.story-lists
	border-bottom: 0

	h3
		font-size: 22px

	i,
	span,
	span a
		color: #666

.story-detail

	.cover-story.cover
		height: 300px !important
		margin-bottom: 20px

.blog-info,
.blog-info a
	font-size: 14px
	color: #666

.stories
	padding: 20px

.project-list-banner
	padding: 0 20px
	overflow: hidden

.footer-menu
	width: 100%
	position: fixed
	bottom: 0
	left: 0
	z-index: 3
	&-list
		background: white
		border-top: solid #F1F1F1 3px
		padding: 12px 0
		display: flex
		flex-direction: row
	&-item
		display: flex
		flex-direction: column
		flex: 1
		align-items: center
		a
			color: #333
			text-align: center
			display: block
			width: 100%
		&-icon
			font-size: 20px
		&-label
			font-size: 10px

.wa-box
	position: fixed
	right: 0
	top: 50%
	transform: translate(-50%, 0)

	a,
	a:hover
		background: #30b042
		border-radius: 50px
		padding: 9px 13px
		font-size: 28px
		text-decoration: none
		color: white !important

	p
		font-weight: 600
		margin: 0
		margin-top: 10px

.ticker
	background: white
	border-radius: 50px
	border: 1px solid #ccc
	position: fixed
	bottom: 100px
	left: 20px
	padding: 15px 50px
	display: none

	&-fullname
		color: #333
		font-family: Raleway
		font-size: 14px
		font-weight: bold

	&-desc,
	&-date
		color: #999
		font-family: Raleway
		font-size: 12px

	&-date
		font-size: 10px
		margin-top: 5px

.row.display-flex
	display: flex
	flex-wrap: wrap

.row.display-flex > [class*='col-']
	display: flex

.row.display-flex > [class*='col-']
  flex-direction: column

.d-flex
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center

.reward-next
	background: white
	padding: 20px
	position: fixed
	bottom: 68px
	width: 100%
	max-width: 480px